header div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
    margin:auto;
    font-size: 40px;
    text-align: center;
    background-image: url("./backgroundGradient.jpg");
}

header div p {
    color: #1B263B;
    text-decoration-line: underline;
    padding: 10px;
    margin: auto;
}

#learnMore {
    border: none;
    border-radius: 5px;
    margin: auto;
    background-color: #0D1B2A;
    color: white;
    font-size: 25px;
}

#learnMore:hover {
    background-color: #1B263B;
} 

button {
    border-radius: 15%;
    max-width: 100px;
}

nav ul {
    background-color: #9C9AFE;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
}

nav ul li a {
    text-decoration-line: none;
    font-size: 20px;
    display: inline;
    margin: 5px;
    padding: 10px;
    color:#0D1B2A
}

nav ul li a:hover {
    background-color: #d28997;
}

footer {
    background-color: blueviolet;
}

body {
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
}

.twoColumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    width: 300px;
    margin: auto;
}

input, textarea{
    display: block;
    width: 100%;
    margin-bottom:10px;
}