<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Tech Gap</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./data.html">Data</a></li>
            <li><a href="./resources.html">Resources</a></li>
            <li><a href="./about.html">About Us</a></li>
        </ul>
    </nav>
    <main>
        <div>
            <h1>Get to Know Us</h1>
            <section>
              <p>Claire O'Farrell</p>
              <div>
                <img class="aboutPhoto" src="static\ClairePhoto.jpg" alt="claire lookin super cool B)">
                <p>
                  Claire is a second year Computer Science Major at RIT.  She took an interest in programming in the 4th grade and has stuck with it ever since.  Additionally, she is very interested in the arts and hoping to pursue a career that merges both Computer Science and Art in a satisfying way.  Her contributions to this project are largely the survey.
                </p>
              </div>
            </section>
            <section>
              <p>Kathryn Eckert</p>
              <div>
                <img class="aboutPhoto" src="../static/kathrynPhoto.jpg" alt="A selfie of Kathryn smiling, with green earrings and a pink top">
                <p>Kathryn is a second year Software Engineering major and a Girls Who Code alum. She began
                  her Tech journey at the age of twelve when she started teaching herself python. Her current
                  hobbies, in addition to software development, include volleyball, piano, and writing. What
                  she contributed most to on the project is the website design.
              </p>
            </div>
            </section>
            <section>
              <p>Lilly Rowland</p>
              <img class="aboutPhoto" src="../static/lilly.jpg" alt="A selfie of Lilly in a black top">
              <p>Lilly is a second year majoring in Bioinformatics and Computational Biology with a minor in
                computer science. Her journey in tech began when she joined her middle school robotics team
                in sixth grade. Since then, she has explored the various avenues in computer science. She worked
                primarily on data analysis, flask, and data preparation.</p>>
              </p>
            </section>
        </div>
    </main>
    <footer>
        <p>Copyright 2024 Kathryn Eckert, Claire O'Farrell, Lilly Rowland | WicHacks 2024</p>
    </footer>
	<script src="../static/index.js"></script>
  </body>
</html>