<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Tech Gap</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
  </head>
  <body>
    <header>
        <div>
            <div>
                <p id="headText">The Gender Gap in Tech Still Exists</p>
                <p>And we're here to prove it.</p>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./data.html">Data</a></li>
            <li><a href="./resources.html">Resources</a></li>
            <li><a href="./about.html">About Us</a></li>
        </ul>
    </nav>
    <main>
            <h1>The Gender Gap in Tech</h1>
                <p>Despite strides made in recent years, women and gender minorities continue to be underrepresented
                     in STEM disciplines. Which raises the question, why? Is it as simple as a lack of interest? The
                      answer is no. Many girls do have an interest in STEM but sadly lose confidence in their 
                      abilities as they get older. This can be due to a variety of factors, including societal 
                      pressures, lack of self confidence, or the misconception that math is a “boy subject” and 
                      girls just aren’t as equipped for such a field. All of these contribute to girls' declining 
                      interest in STEM. Even women who make it through the education process and into the workforce 
                      are still at risk for abandoning the subject due to similar reasons. But it doesn’t have to be
                       this way. Through community and education and bringing others up, we can bridge the gender 
                       gap in STEM. Please explore our website to learn more about the cause and take some time to 
                       think about what you can do to make a difference in this field, gender minority or ally. 
                       We’re in this together.</p>
            <h1>Survey time BAYBYYYYYY</h1>
        <div>
            <h1>surveyyyy yaaaas</h1>
            <form name = "surveyForm" action="/submit" method="post" onsubmit ="return validateForm()">
            
            <label for="dropdown">What year are you?</label> 
            <select year="year"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4+">4+</option> 
            </select>
            <br>
            <label for="dropdown">What is your major?</label> 
            <select major="major"> 
                <option value="Computer Science">Computer Science</option> 
                <option value="Cybersecurity">Cybersecurity</option> 
                <option value="Game Design & Development">Game Design & Development</option> 
                <option value="Software Engineering">Software Engineering</option> 
                <option value="Engineering">Engineering</option>
                <option value="Bioinformatics">Bioinformatics</option>
                <option value="Computational Math">Computational Math</option>
                <option value="Other">Other</option> 
            </select>
            <br>
            <label for="dropdown">On a scale of 1-10 (1 being the least. 10 being most), how confident are you in your ability to achieve a career in STEM?</label> 
            <select scale="scale"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
                <option value="7">7</option> 
                <option value="8">8</option> 
                <option value="9">9</option> 
                <option value="10">10</option>    
            </select>
            <br>
            <label for="dropdown">Have you experienced imposter syndrome in relation to your gender identity and field of study?</label> 
            <select imposter="imposter"> 
                <option value="Yes">Yes</option> 
                <option value="No">No</option> 
            </select>
            <br>
            <label for="dropdown">Who do you feel most supported, specifically in relation to your career in STEM?</label> 
            <select support="support"> 
                <option value="Classmates">Classmates</option> 
                <option value="Professors">Professors</option> 
                <option value="Family">Family</option> 
                <option value="Friends">Friends</option> 
                <option value="Clubs">Clubs</option> 
            </select>
            <br>
            <label for="feedback">Feedback: </label>
            <textarea name = "feedback" required></textarea>

            <input type = "submit" value = "Submit">
            </form>
        </div>
    </main>
        
        <script>
            function validateForm(){
                const name = document.forms["surveyForm"]["name"].value
                const age = document.forms["surveyForm"]["age"].value
                const feedback = document.forms["surveyForm"]["feedback"].value

                if(name.trim() === "" || age === "" || feedback.trim() === ""){
                    alert("All fields are required!")
                    return false;
                }

                if(name.trim().includes(";") || name.trim().includes("@") || name.trim().includes(":")){
                    alert("Name cannot include invalid characters")
                    return false;
                }

                if(feedback.trim().includes("DROP TABLE")) {
                    alert("SQL Injection? Not very feminist of you...")
                    return false;
                }

                if(isNaN(age) || age < 0 || age > 120){
                    alert("Please enter a valid number")
                    return false;
                }
            }
        </script>
    <footer>
        <p>Copyright 2024 Kathryn Eckert, Claire O'Farrell, Lilly Rowland | WicHacks 2024</p>
    </footer>
	<script src="../static/index.js"></script>
  </body>
</html>