<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Tech Gap</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./data.html">Data</a></li>
            <li><a href="./resources.html">Resources</a></li>
            <li><a href="./about.html">About Us</a></li>
        </ul>
    </nav>
    <main>
        <div>
            <h1>Resources</h1>
            <p>The fight to support women and gender minorities in tech is not new, nor is it small.
              There are a multitude of organizations that have been established to support tech gender minorities
              in their education, career, and beyond. Some of these have even personally impacted us, and inspired
              our journey.
            </p>
        </div>
    </main>
    <footer>
      <p>Copyright 2024 Kathryn Eckert, Claire O'Farrell, Lilly Rowland | WicHacks 2024</p>
    </footer>
	<script src="../static/index.js"></script>
  </body>
</html>